In [49]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [25]:
request=requests.get("http://pythonhow.com/example.html", headers={'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'})
content=request.content
print(content)

b'<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.cities {\n    background-color:black;\n    color:white;\n    margin:20px;\n    padding:20px;\n} \n</style>\n</head>\n<body>\n<h1 align="center"> Here are three big cities </h1>\n<div class="cities">\n<h2>London</h2>\n<p>London is the capital of England and it\'s been a British settlement since 2000 years ago. </p>\n</div>\n<div class="cities">\n<h2>Paris</h2>\n<p>Paris is the capital city of France. It was declared capital since 508.</p>\n</div>\n<div class="cities">\n<h2>Tokyo</h2>\n<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>\n</div>\n</body>\n</html>'

In [29]:
soup=bs(content,'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<style>
div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
</head>
<body>
<h1 align="center"> Here are three big cities </h1>
<div class="cities">
<h2>London</h2>
<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
</div>
<div class="cities">
<h2>Paris</h2>
<p>Paris is the capital city of France. It was declared capital since 508.</p>
</div>
<div class="cities">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
</div>
</body>
</html>

In [30]:
alldiv=soup.find_all('div',{'class':'cities'})

In [45]:
allp=[]
for element in alldiv:
    allp.append(element.find('p'))

In [54]:
description=[item.text for item in allp]
type(alldiv)

bs4.element.ResultSet

In [43]:
names

['London', 'Paris', 'Tokyo']

In [47]:
description

["London is the capital of England and it's been a British settlement since 2000 years ago. ",
 'Paris is the capital city of France. It was declared capital since 508.',
 'Tokyo is the capital of Japan and one of the most populated cities in the world.']

In [48]:
dataframe={'name':names,'description':description}

In [50]:
df1=pd.DataFrame(dataframe,columns=['name','description'])

In [51]:
df1

     name                                        description
0  London  London is the capital of England and it's been...
1   Paris  Paris is the capital city of France. It was de...
2   Tokyo  Tokyo is the capital of Japan and one of the m...